@charset "UTF-8";
@import "./settings.css";
@import "./normalize.css";
/* @import "./slider.css"; */
/* @import "./reset.css"; */
body {
  margin: 0;
  padding: 0;
}
.background-header {
  position: absolute;
  width: 100%;
  height: 10vh;
  background-color: #09090d;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 105px;
  background-color: #181818;
  clip-path: polygon(100% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%, 0 0);
    a {
        position: absolute;
        top: 0;
        left: 30%;
        margin-top: 30px;
        color: #fff;
        font-family: sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 25px;
    }
    img {
      width: 250px;
    }
}
.header {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  width: 100%;
  height: 10vh;
  margin: 0;
}
.navigation {
  display: flex;
  align-items: center;
  width: 70%;
    a {
        color: #fff;
        font-family: "Lato-Light", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
    }
    ul {
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
        -webkit-filter: brightness(40%);
        filter: brightness(40%);
    }
    li:hover {
        border-top: 2px solid #d11037;
        border-bottom: 2px solid #d11037;
        -webkit-filter: brightness(0%);
        filter: none;
    }
}
.home-page {
  background-image: url("../media/images/woman-in-red.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}
.home-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
    h2 {
        font-family: "Raleway-Bold", sans-serif;
        color: #fff;
        font-size: 30px;
        margin-top: 26vh;
    }
    p {
        color: #fff;
        font-family: sans-serif;
        margin-left: 10vh;
        margin-right: 10vh;
        margin-top: 5.5vh;
        font-size: 15px;
        line-height: 3.2vh;
        text-align: center;
    }
}
.links {
  display: flex;
  width: 35%;
  justify-content: space-around;
  margin-top: 7.5vh;
    a {
        color: #fff;
        font-family: "Raleway-Bold", sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 19px;
        width: 170px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #181818;
    }
    a:hover {
        background-color: #d11037;
    }
}
.about-creativia {
  margin-bottom: 13.5vh;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.about-discription {
  display: flex;
  justify-content: space-between;
  margin-top: 13.9vh;
  width: 100%;
  min-height: 360px;
}
.discription {
  width: 49%;
    p {
        margin-bottom: 25px;
        font-size: 17px;
        font-family: sans-serif;
        line-height: 3.2vh;
    }
}
.switchs {
  margin-bottom: 20px;
}
.hidden-info {
  margin-top: 20px;
}
.checkbox {
  visibility: hidden;
  z-index: -20;
}
.checkbox + .checkbox-label ~ div {
  display: none;
}
.checkbox-label {
  position: relative;
  padding-left: 70px;
  font-size: 23px;
}
.checkbox-label::before,
.checkbox-label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.checkbox-label::before {
  width: 40px;
  height: 40px;
  left: 0;
  background-image: url("../media/images/icons/plus.png");
  background-size: cover;
}
.checkbox-label::after {
  width: 40px;
  height: 40px;
  left: 0px;
  background-image: url("../media/images/icons/minus.png");
  background-size: cover;
  visibility: hidden;
  z-index: -20;
}
.checkbox:checked + .checkbox-label::after {
  visibility: visible;
  z-index: 20;
}
.checkbox:checked + .checkbox-label::before {
  visibility: hidden;
  z-index: -20;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.checkbox:checked + .checkbox-label {
  color: #d11037;
}
.checkbox:checked + .checkbox-label + div {
  display: block;
  background: #efefef;
  padding: 10px;
}
.img-shell {
  width: 49%;
}
.img-discription {
  width: 100%;
  height: 100%;
  position: relative;
}
.img-man {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 5;
  background-image: url("../media/images/about-creativia/man.jpg");
  background-size: cover;
  background-position: center center;
  width: 430px;
  height: 360px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.img-woman {
  background-image: url("../media/images/about-creativia/woman.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 4%;
  right: 0;
  width: 375px;
  height: 330px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}
.img-woman:hover {
  transform: scale(1.1, 1.1);
  z-index: 10;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  -webkit-filter: brightness(0%);
  filter: none;
}
.img-man-in-glasses {
  background-image: url("../media/images/about-creativia/man-in-glasses.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 4%;
  left: 0;
  width: 375px;
  height: 330px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}
.img-man-in-glasses:hover {
  transform: scale(1.1, 1.1);
  z-index: 10;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  -webkit-filter: brightness(0%);
  filter: none;
}
.advantages {
  display: flex;
  justify-content: space-between;
}
.flat-design-img {
  background-image: url("../media/images/icons/hexagon-heart-off.png");
  width: 92px;
  height: 80px;
}

.flat-design-img:hover {
  background-image: url("../media/images/icons/hexagon-heart-on.png");
  margin-bottom: 4px;
  width: 88px;
  height: 76px;
}
.retina-ready-img {
  background-image: url("../media/images/icons/hexagon-retina-off.png");
  width: 92px;
  height: 80px;
}
.retina-ready-img:hover {
  background-image: url("../media/images/icons/hexagon-retina-on.png");
  margin-bottom: 4px;
  width: 88px;
  height: 76px;
}
.responsive-img {
  background-image: url("../media/images/icons/hexagon-responsive-off.png");
  width: 92px;
  height: 80px;
}
.responsive-img:hover {
  background-image: url("../media/images/icons/hexagon-responsive-on.png");
  margin-bottom: 4px;
  width: 88px;
  height: 76px;
}
.clean-useful-img {
  background-image: url("../media/images/icons/hexagon-clean-usefull-off.png");
  width: 92px;
  height: 80px;
}
.clean-useful-img:hover {
  background-image: url("../media/images/icons/hexagon-clean-usefull-on.png");
  margin-bottom: 4px;
  width: 88px;
  height: 76px;
}
.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 23%;
  margin-top: 14vh;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5e5e5e;
}
.portfolio-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13.5vh;
  margin-bottom: 10vh;
    h2 {
        color: #fff;
        margin-bottom: 4.5vh;
    }
    ul {
        margin: 0;
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    a {
        color: #b8b8b8;
        font-family: "Lato-Bold", sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
    }
    a:hover {
        color: #d11037;
    }
}
.design-name {
  width: 100%;
  display: flex;
    p {
        position: absolute;
        top: 50%;
        left: 35%;
        z-index: -10;
        color: #fff;
        font-size: 16px;
    }
    img {
        width: 100%;
        height: 250px;
    }
}
.money {
  position: relative;
  width: 29%;
  height: 250px;
  }
.money:hover p {
  z-index: 10;
  }
.money:hover img {
    filter: brightness(20%);
  }
.bank {
  position: relative;
  width: 21%;
  height: 250px;
}
.bank:hover p {
  z-index: 10;
}
.bank:hover img {
  filter: brightness(20%);
}
.money-tree {
  position: relative;
  width: 29%;
  height: 250px;
}
.money-tree:hover p {
  z-index: 10;
}
.money-tree:hover img {
  filter: brightness(20%);
}
.cards {
  position: relative;
  width: 21%;
  height: 250px;
}
.cards:hover p {
  z-index: 10;
}
.cards:hover img {
  filter: brightness(20%);
}
.calculator {
  position: relative;
  width: 21%;
  height: 250px;
}
.calculator:hover p {
  z-index: 10;
}
.calculator:hover img {
  filter: brightness(20%);
}
.convert {
  position: relative;
  width: 29%;
  height: 250px;
}
.convert:hover p {
  z-index: 10;
}
.convert:hover img {
  filter: brightness(20%);
}
.purse {
  position: relative;
  width: 21%;
  height: 250px;
}
.purse:hover p {
  z-index: 10;
}
.purse:hover img {
  filter: brightness(20%);
}
.check-list {
  position: relative;
  width: 29%;
  height: 250px;
}
.check-list:hover p {
  z-index: 10;
}
.check-list:hover img {
  filter: brightness(20%);
}
.choise-option {
  margin-top: 10vh;
  display: flex;
    p {
        font-weight: 600;
        margin: 0;
        text-transform: uppercase;
    }
    img {
        margin-left: 5px;
        margin-right: 5px;
    }
}
.choise-option-left {
  width: 30%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 200px;
}
.choise-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid rgb(194, 193, 193);
  padding: 5px;
}
.choise-left:hover {
  cursor: pointer;
  background-color: #d11037;
}
.choise-left:hover p {
  color: #fff;
}
.choise-img {
  background-image: url("../media/images/icons/choise-no.png");
  width: 37px;
  height: 33px;
  margin-left: 5px;
  margin-right: 5px;
}
.choise-left:hover .choise-img {
  background-image: url("../media/images/icons/choise-yes.png");
}
.choise-option-right {
  margin-top: 10vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 200px;
}
.choise-right {
  display: flex;
  align-items: center;
  border: 1px solid rgb(194, 193, 193);
  padding: 5px;
}
.choise-right:hover {
  cursor: pointer;
  background-color: #d11037;
}
.choise-right:hover p {
  color: #fff;
}
.choise-right:hover .choise-img {
  background-image: url("../media/images/icons/choise-yes.png");
}
.choise-send {
  position: relative;
    a {
        position: absolute;
        bottom: 15%;
        left: 33%;
        color: #fff;
        font-family: "Raleway-Bold", sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 19px;
        width: 170px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #5c5c5c;
    }
    a:hover {
        background-color: #d11037;
    }
}
.our-clients-bcgr {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background-image: url("../media/images/about-creativia/man.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}
.our-clients {
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13.5vh;
}
.reviews {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
    h4 {
        font-family: sans-serif;
        text-transform: uppercase;
        color: #fff;
    }
    p {
        text-align: center;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .pnk {
        font-weight: 800;
        text-transform: uppercase;
        color: #d11037;
    }
}
.swiper-container {
  width: 49%;
}
.bruce-wayne-slider {
  width: 50px;
  min-width: 0;
  height: 50px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.john-doe-slider {
  width: 50px;
  min-width: 0;
  height: 50px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.swiper-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
}
.happy-client-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 49%;
}
.graphicriver {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0px 0px 30px 15px rgba(50, 50, 50, 0.5);
}
.graphicriver:hover {
  box-shadow: inset 0px 0px 30px 15px rgba(50, 50, 50, 0.8);
}
.videohive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0px 0px 30px 15px rgba(50, 50, 50, 0.5);
}
.videohive:hover {
  box-shadow: inset 0px 0px 30px 15px rgba(50, 50, 50, 0.8);
}
.photodune {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0px 0px 30px 15px rgba(50, 50, 50, 0.5);
}
.photodune:hover {
  box-shadow: inset 0px 0px 30px 15px rgba(50, 50, 50, 0.8);
}
.codeconyon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: inset 0px 0px 30px 15px rgba(50, 50, 50, 0.5);
}
.codeconyon:hover {
  box-shadow: inset 0px 0px 30px 15px rgba(50, 50, 50, 0.8);
}
.our-teamwork {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.team {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}
.team-members {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  border: 1px solid rgb(194, 193, 193);
}
.bruce-wayne {
  background-image: url("../media/images/team/woman.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}
.team-members:hover .bruce-wayne {
  filter: brightness(1%);
}
.amr-srour {
  background-image: url("../media/images/team/amr-srour.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}
.team-members:hover .amr-srour {
  filter: brightness(1%);
}
.sarah-doe {
  background-image: url("../media/images/team/sarah-doe.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}
.team-members:hover .sarah-doe {
  filter: brightness(1%);
}
.john-de {
  background-image: url("../media/images/team/john-de.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}
.team-members:hover .john-de {
  filter: brightness(1%);
}
.team-members:hover h3 {
  color: #d11037;
}
.team-members {
    h3 {
        font-family: "Raleway-Bold", sans-serif;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    p {
        font-family: "Lato-Regular", sans-serif;
        font-size: 13px;
    }
    a {
        text-decoration: none;
    }
}
.social-groups {
  position: absolute;
  top: 35%;
  z-index: -10;
}
.team-members:hover .social-groups {
 z-index: 10;
}
.skills {
  display: flex;
  justify-content: space-between;
}
.diagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  h3 {
    text-transform: uppercase;
  }
}
.diagram-wrapper {
  width: 150px;
  height: 150px;
}
.chart-text {
  fill: #d11037;
  transform: translate(2px, 3px);
}
.percent-pnk {
  font-size: 8px;
  line-height: 1;
  text-anchor: middle;
  transform: translate(-4px);

}
.percent {
  font-size: 8px;
  fill: black;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translate(4px);
}
.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;margin-top: 13.5vh;
}
.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.services-name {
  position: relative;
  display: flex;
}
.services-name-wrapper {
  img {
    margin-right: 20px;
    width: 70px;
    height: 60px;
  }
  h3 {
  width: 90%;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  }
  p {
  width: 100%;
  color: #888888;
  background-color: #343434;
  }
}
.active {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.services-name-wrapper:hover .active {
  z-index: 10;
}
.services-name-wrapper:hover p {
  background-color: #3d2329;
}
.plans-bestsellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .end-section-pink {
  margin: 0;
  }
}
.bestseller-wrapper {
  margin-top: 13.5vh;
  display: flex;
  justify-content: space-between;
}
.bestsellers {
  border: 1px solid #e0e0e0;
  .charasteristic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 15px;
  border: 1px solid #e0e0e0;
  height: 40px;
  text-align: center;
  }
  p {
  margin: 0;
  }
  .price {
  height: 80px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
    p {
    border: none;
    font-size: 12px;
    }
  }
  .bestsellers-btn  {
  height: 40px;
  border: 1px solid #e0e0e0;
  padding: 15px;
  }
  .btn {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background-color: #343434;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  border: none;
  cursor: pointer;
  }
}
.besseller-header  {
  height: 40px;
  border: none;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
  color: #fff;
  text-transform: uppercase;
  }
}
.price p:first-child {
  font-size: 40px;
  font-weight: 800;
}
.bestsellers:hover  {
  .btn {
  background-color: #d11037;
  color: #fff;
  border: none;
  cursor: pointer;
  }
  .price {
  background-color: #d11037;
    p {
    color: #fff;
    }
  }
}
.best-twitt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: #272727;
  margin-top: 13.5vh;
  p {
  width: 700px;
  text-align: center;
  color: #fff;
  }

}
.svg-twitter {
  position: absolute;
  bottom: 1px;
  left: 40px;
  transform: rotate(-25deg);
  width: 150px;
  height: 150px;
  svg {
  fill: #343434
  }
}
.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  h4{
  margin: 0;
  }
  p {
  margin: 0;
  color: #5c5c5c;
  }
}
.blog-img-jaket {
  width: 370px;
  height: 200px;
  background-image: url("../media/images/our-blog/jaket.jpg");
}
.blog-img-bank-car {
  width: 370px;
  height: 200px;
  background-image: url("../media/images/our-blog/bank-car.jpg");
}
.blog-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
.statistics-wrapper {
  display: flex;
}
.statistic {
  display: flex;
  margin-right: 30px;
  opacity: 0.5;
  img {
    margin: 0 5px 0 0;
    width: 15px;
  }
  p {
    font-size: 10px;
    margin: auto;
  }
}
.blog-btn {
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: sans-serif;
  border: none;
  color: #fff;
  background-color: #272727;
  cursor: pointer;
}
.blog-btn:hover {
  background-color: #d11037;
}
.blog:hover
.blog-img-bank-car {
    opacity: 0.5;
  }
.blog:hover
.blog-img-jaket  {
  opacity: 0.5;
}
.map {
  position: relative;
}
.address-wrapper {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 310px;
  height: 210px;
}
.address-wrapper-wrapper {
  position: relative;
  width: 310px;
  height: 210px;
}
.address {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 150px;
  background-color: #272727;
  padding: 30px;
  a {
  margin: 10px 0 10px 0;
  color: #fff;
  }
}
.address-triangle {
  position: absolute;
  top: 94%;
  left: 60%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 30px 0 0;
  border-color: #272727 transparent transparent transparent;
  transform: rotateZ(30deg);
}
.form {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 400px;
  height: 400px;
  background-color: #fff;
  padding: 40px;
  p {
  margin: 0 0 30px 0;
  text-transform: uppercase;
  }
  input {
  width: 94%;
  margin: 0 0 20px 0;
  padding: 10px;
  height: 20px;
  border: 1px solid #cacaca;
  }
  .comments {
  height: 60px;
  size: 40;
  }
  .submit {
  width: 120px;
  height: 40px;
  border: none;
  color: #fff;
  background-color: #272727;
  padding: 0;
  }
}
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #272727;
  p {
  color: #707070;
  }
}
.designer {
  position: absolute;
  top: 45%;
  right: 30px;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */
